.drag-close-modal {
	position: fixed;
	inset: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: scroll;

	&__wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: max-content;
		top: calc(var(--tg-safe-area-inset-top) + var(--header-height));
		overflow-y: scroll;
		border-radius: 25px 25px 0 0;
	}

	&__content {
		position: relative;
		z-index: 0;
		overflow-y: scroll;
		width: 100%;
		height: 100%;
	}

	&__dragger {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 60%;
		touch-action: none;
		z-index: 2000;
	}
}
