:root {
	--menu-height: 55px;
	--header-height: 60px;

	--page-x-padding: 8px;
	--page-y-padding: 8px;

	--black-6: #1212120f;
	--black-32: #12121252;
	--black-100: #121212;
	--white-32: #ffffff52;
	--white-100: #ffffff;
	--green: #05de4a;
}
