@import './reset';
@import './_variables.scss';

* {
	-webkit-tap-highlight-color: transparent;

	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: none;
	// overscroll-behavior: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

body {
	background: var(--tg-theme-secondary-bg-color);
	color: var(--tg-theme-text-color);
	padding-top: calc(var(--tg-viewport-content-safe-area-inset-top) + 12.5px);
	overflow: hidden;
}

.page {
	padding: var(--page-y-padding) var(--page-x-padding);
}
