.home-page {
	height: calc(100svh - var(--menu-height) - 5px - var(--tg-viewport-content-safe-area-inset-top));
	overflow: hidden;
	padding: 0 var(--page-x-padding) 0 var(--page-x-padding);

	.card-swiper-wrapper {
		height: calc(100% - var(--header-height));
		margin: 0 calc(var(--page-x-padding) * -1);
	}
}
